<h1>New Song:</h1>

<form  action="/songs" method="POST">

  <label>Name:</label>

  <br></br>

  <input type="text" name="Name" id="Name"/>

  <br></br>

  <label>Create a new Artist or Pick an Existing one:</label>

  <br></br>


  <br></br>

  <input type="text" name="Artist Name" value=""/>

  <br></br>

  <label>Create a new Genre or Pick an Existing one:</label>

  <br></br>

  <%@genres.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%>

  <input type="submit" name="" value="Create"/>



</form>
